/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  font-family: "Montserrat";
  box-sizing: border-box;
  text-decoration: none;
}
/* body {
  display: flex;
  flex-direction: column;
   justify-content: center;
  padding: 10px 0px;
} */

p {width: 100%;
  margin: 0px 20px;
   }
.header {display: none;}

.johnAndTime {
  display: flex;flex-direction: column;
}
.johnPrint {
  gap: 10px;
  padding: 10px 10px;
}
/* .printShare {
  /* display: flex; */
} */
/* .secondLanding {
  gap: 50px;
  align-items: center;
} */
.secondLanding > div:nth-child(1) {
  background-image: url(./japanese\ fried\ rice.png);
  background-size: contain;
  background-repeat: no-repeat;
  width:100%;
  height: 23vh;
  margin: 10px;
  /* flex-grow: 1; */
}
.secondLanding > div:nth-child(2) {
  background-image: url(./Nutrition\ Card.png);
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height: 23vh;
  margin: 10px;
  /* flex-grow: 1; */
}
p {
  text-align: start;
}
.otherRecipe > div {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}
.inputTextDivs {
  padding: 10px 30px;
  max-width: 100%;
  flex-grow: 1.1;
  /* min-width: 400px; */
}
.inputText {
  /* text-align: start; */
  padding: 10px 2px;
}
input {
  min-height: 20px;
  font-size: 1rem;
}
/* input {
  min-width: 1.5rem;
} */
.inpText {
  /* min-width: 100%;
  font-weight: 400;
  border: 0px; */
  /* flex-grow: 1.1; */
}
/* #inpText::placeholder {
  min-width: 20vw;
} */
/* .inputOtherRecipe {
  gap: 50px;
  padding: 10px 10px;
} */
#meatBall {
  background-image: url(./meat\ balls.png);
 width:100vw;
height: 50vw;
  background-size: contain;
  background-repeat: no-repeat;
}
#bacon {
  background-image: url(./bacon\ pasta.png);
  width:100vw;
  height: 50vw;
  background-size: contain;
  background-repeat: no-repeat;
}
#cucumberBread {
  background-image: url(./cucumber\ bread.png);
  width:50vw;
  height: 50vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.following {
    width: 100vw;
    height: 50vw;background-size: contain;background-repeat: no-repeat;
}
.img1{background-image: url(./chickenMeatBall.png);}
.img2{background-image: url(./theCreamiestCreamy.png);}
.img3{background-image: url(./theBestEasyOne.png);}
#cookingLady {
  background-image: url(./cookingLady.png);
  width:100vw;
  height: 50vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.cookingCorner { width: 100%;
  text-align: start;
}
.clearfix:after {
  clear: both;
}
hr {
  margin: 20px 0px;
}
.deliciousBox {
  background-image: url(./subcription\ backdrop.png);background-repeat: no-repeat;background-size: contain;
  max-width:35vw;
  height:18vw;
  margin: 0px;
  background-size: contain;
}
@media screen and (min-width: 550px) {
  #cookingLady {
    width: 100vw;
  }
  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px;
  }
  section{
  min-width: 550px;
  margin: 0px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
}
* {
    margin: 0px;
    justify-content: center;
    font-family: "Montserrat";
    box-sizing: border-box;
    text-decoration: none;
  }
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px;
  }
  section,
  h1,
  p {width: 25vw;
  /* width: 100vw;box-sizing: border-box; */
    margin: 0px 20px;
    display: flex;flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header {display: none;}
  
  .johnAndTime {
    display: flex;
  }
  .johnPrint {
    gap: 50px;
    padding: 10px 10px;
  }
  .printShare {
    display: flex;
  }
  .secondLanding {
    gap: 50px;
    align-items: center;
  }
  .secondLanding > div:nth-child(1) {
    background-image: url(./japanese\ fried\ rice.png);
    background-size: contain;
    background-repeat: no-repeat;
    width:100%;
    height: 23vh;
    margin: 10px;
    /* flex-grow: 1; */
  }
  .secondLanding > div:nth-child(2) {
    background-image: url(./Nutrition\ Card.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 23vh;
    margin: 10px;
    /* flex-grow: 1; */
  }
  p {
    text-align: start;
  }
  .otherRecipe > div {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
  }
  .inputTextDivs {
    padding: 10px 30px;
    max-width: 100%;
    flex-grow: 1.1;
    /* min-width: 400px; */
  }
  .inputText {
    /* text-align: start; */
    padding: 10px 2px;
  }
  input {
    min-height: 20px;
    font-size: 1rem;
  }
  input {
    min-width: 1.5rem;
  }
  .inpText {
    min-width: 100%;
    font-weight: 400;
    border: 0px;
    /* flex-grow: 1.1; */
  }
  /* #inpText::placeholder {
    min-width: 20vw;
  } */
  .inputOtherRecipe {
    gap: 50px;
    padding: 10px 10px;
  }
  #meatBall {
    background-image: url(./meat\ balls.png);
   width:24.999vw;
  height: 12.999vw;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #bacon {
    background-image: url(./bacon\ pasta.png);
    width:24.999vw;
  height: 12.999vw;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #cucumberBread {
    background-image: url(./cucumber\ bread.png);
    width:24.999vw;
  height: 12.999vw;
    background-size: contain;
    background-repeat: no-repeat;
  }
  form > div {
    height: 80px;
    display: flex;
    justify-content: flex-start;
  }
  .otherRecipe2 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 20px;
    margin: 20px 0px 10px 10px;
    padding-left: 10px;
  }
  .cooking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-width: 100px; */
    margin: 20px 20px;
  }
  .cooking > h4,
  p { align-items: center;
      text-align: center;
  /* width: fit-content;  display: flex; */
  flex-wrap: wrap;
  
  }
  #cookingLady {
    background-image: url(./cookingLady.png);
    /* min-width: min-400px; */display: flexbox;
    width:5%;
    height: 15vh;
      margin: 10px;
      margin: 20px 0px;
      background-size: contain;
      background-repeat: no-repeat;
  }
  .cookingCorner { width: 100%;
    text-align: start;
  }
  .clearfix:after {
    clear: both;
  }
  hr {
    margin: 20px 0px;
  }
  .deliciousBox {
    background-image: url(./subcription\ backdrop.png);background-repeat: no-repeat;background-size: contain;
    max-width:35vw;
    height:18vw;
    margin: 0px;
    background-size: contain;
  }
