@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  justify-content: center;
  font-family: "Montserrat";
  box-sizing: border-box;
}
body {
  padding: 10px 0px;
}
p,
h2 {
  max-width: 1000px;
}
.page {
  width: fit-content;
}
.landing > div {
  width: 550px;
  height: 550px;
}
.landing > div:nth-child(2) {
  background-image: url(./Landing\ page\ dish.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.landing > div:nth-child(1) {
  background-color: #cff4fc;
  padding: 10px 10px 0px 30px;
}
#lndnBarge {
  position: relative;
  top: 20px;
  left: -50px;
}
#johnRecipeView {
  position: relative;
  top: 150px;
  width: 500px;
}
#jhnPspot {
  margin: 0px 150px 0px 20px;
}

.simple:nth-child(1) {
  background-image: url();
}
.simpleCntr {
  text-align: center;
}
.subscription {
  background-image: url(./subcription\ backdrop.png);
  max-width: 1300px;
  max-height: 450px;
}
#green {
  background-image: url(./salad\ Dish\ backdrop.png);
}
#chefStatement {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  justify-content: space-around;
}
#chefFoto {
  float: right;
}
.checkOut {
  max-width: 300px;
}
div {
  width: fit-content;
}
section {
  display: flex;
  flex-wrap: wrap;
}
.deliciousRecipe {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 15px solid green; */
  padding: 10px;
  margin: 20px;
}
